<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by tommyliuhk313</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css'><link rel="stylesheet" href="./style.css">
  <script src="../node_modules/sweetalert2/src/sweetalert2.js"></script>

</head>
<body>
<!--Swal setting start-->
<!--Swal setting end-->

<!-- partial:index.partial.html -->
<!--Navbar-->
<nav class="navbar has-background-grey">
  <div class="navbar-brand">
    <div class="navbar-item image is-128x128"></div><a class="navbar-burger burger" data-target="navMenu"><span> </span><span> </span><span></span></a>
  </div>
  <div class="navbar-menu" id="navMenu"><!--navbar item-->
    <div class="navbar-start"><a class="navbar-item has-text-white" href="">Horoscope</a><a class="navbar-item has-text-white" href="">Astrology</a>
      <div class="dropdown is active navbar-item">
        <div class="dropdown-trigger">
          <button class="button has-background-white-bis"><span>1234565432</span></button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">  </div>
      </div><a class="navbar-item has-text-white" href="">Predictions</a><a class="navbar-item has-text-white" href="">Occult</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons"><a class="button is-danger"><strong>Register</strong></a><a class="button is-outlined is-success"><strong>Login</strong></a></div>
      </div>
    </div>
  </div>
</nav>
<!--Content-->
<!--Footer-->
<!--Container-->
<!-- partial -->
  
</body>
</html>
