
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Untitled Vue Version 3</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css'><link rel="stylesheet" href="../../style/css/main.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!--Navbar-->
<nav class="navbar has-background-grey" id="top">
  <div class="navbar-brand">
    <div class="navbar-item image is-128x128"><a class="navbar-burger burger"><span> </span><span> </span><span></span></a></div>
  </div>
  <div class="navbar-menu" id="navMenu"><!--navbar item-->
    <div class="navbar-start"><a class="navbar-item has-text-primary" href="">關於我們</a><a class="navbar-item has-text-primary" href="">等位?</a>
      <div class="dropdown is active navbar-item">
        <div class="dropdown-trigger">
          <button class="button has-background-green-bis"><span>1234565432</span></button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu"> 
          <div class="dropdown-content"><a class="dropdown-item" href="#">Dropdown item</a><a class="dropdown-item"></a>Other dropdown item</div>
        </div>
      </div><a class="navbar-item has-text-primary" href="">如何加入你的</a><a class="navbar-item has-text-primary" href="">Occult</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons"><a class="button is-danger"><strong>Register</strong></a><a class="button is-outlined is-success" id="login" onClick="Login()"><strong>Login</strong></a></div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-success">
  <div class="hero-body"> 
    <h1 class="title">搜查</h1>
    <h2 class="subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit neque et nostrum id at sint aliquam ex officiis. Voluptatibus deserunt totam ea earum excepturi incidunt harum quibusdam consectetur sint voluptas.</h2>
  </div>
</section>
<div class="container" id="app1">
  <div class="columns">
    <div class="column is-one-third">
      <label class="label">地區</label>
      <div class="control has-icons-left">
        <div class="select is-primary is-loading">
          <select class="selectpicker select is-hovered" v-model="section">
            <option v-for="section in sections">{{section}}</option>
          </select>
        </div><span class="icon is-medium is-left"><i class="fas fa-globe">          </i></span>
      </div>
    </div>
    <div class="column is-one-third">
      <label class="label">Live Search</label>
      <div class="control has-icons-left">
        <div class="select is-primary is-loading">
          <select class="selectpicker select is-hovered">
            <option v-for="section in sections">{{section}}</option>
          </select>
        </div><span class="icon is-medium is-left"><i class="fas fa-globe"></i></span>
      </div>
    </div>
    <div class="column">
      <label class="label">Live Search</label>
      <div class="control has-icons-left">
        <div class="select is-primary is-loading">
          <select class="selectpicker select is-hovered">
            <option v-for="section in sections">{{section}}</option>
          </select>
        </div><span class="icon is-medium is-left"><i class="fas fa-globe"></i></span>
      </div>
    </div>
    <div class="column">
      <button class="button is-success" type="button" @click="getPostsByCategory(section)">按一下才會進行篩選</button>
    </div>
  </div>
  <div class="alert alert-info mt-2" role="alert">
    <h5 class="text-center">新聞閱讀-依類別進行篩選</h5>
    <h3 class="text-center">{{ section | formatted}}</h3>
    <div class="row" v-for="posts in results">
      <div class="col-3" v-for="post in posts">
        <div class="card">
          <div class="card-image" src="https://placeholder.pics/svg/800x500"></div>
          <div class="card-content">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.abstract}}</p>
          </div>
          <div class="d-flex p-2">地區</div>
          <div class="container">
            <div class="row">
              <div class="col" id="waittime"></div>
            </div>
          </div>
          <!--.card-header {{post.title}}
          .card-body
            p.card-text {{post.abstract}}//
            
          
          
          -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--Back to Top//--><a href="#top">
  <button class="button is-link modal-button" aria-haspopup="true"><strong>TOP</strong></button></a><img src="https://placeholder.pics/svg/800x500"/><img src="https://placeholder.pics/svg/800x500"/><img src="https://placeholder.pics/svg/800x500"/>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js'></script><script  src="../../script/js/vue1.js"></script> <script src="../../script/js/script.js"></script>

</body>
</html>
